<h1 id="center">Upload Demo File </h1>

<hr>
<div class="container">
  <div class="row">

    <form>
      <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
      <div class="form-group">
        <label for="username">{{ 'FILENAME' | translate }} :</label>
        <!-- <input type="file" /> -->
        <!-- <input type="file" [(ngModel)]="file" class="form-control" id="" (change)="fileChange($event)" [ngModelOptions]="{standalone: true}" accept=".xlsx" required> -->
        <input type="file" name="file" class="form-control" ng2FileSelect [uploader]="uploader"
          (onFileSelected)="onFileSelected($event)" accept=".xlsx" required />
      </div>

      <!-- <button type="submit" class="btn btn-primary" id="submit" data-toggle="modal" data-target="#confirmModal">{{ 'SUBMIT' | translate }}</button> -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmModalnow"
        [disabled]="sizeOk==false">
        <!-- [disabled]="!uploader.getNotUploadedItems().length || sizeOk==false"> -->
        <span class="glyphicon glyphicon-upload"></span> Execute 1
      </button>
      <!-- <button type="button" class="btn btn-success btn-s"
            [disabled]="!uploader.getNotUploadedItems().length || sizeOk==false" data-toggle="modal" data-target="#fileExistModal">
            <span class="glyphicon glyphicon-upload"></span> {{ 'DISPATCH_LATER' | translate }}
         </button> -->
    </form>

    <div id="confirmModalnow" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="text-align:center"><b> </b></h4>
          </div>
          <div class="modal-body">
            <!-- <p>{{ 'ADDTRIPFILE_CONFIRM_SUBTITLE' | translate }} </p> -->
            <p>Do you really want to execute task 1 ? </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary"
              (click)="uploadFile()">{{ 'CONFIRM_CONFIRM' | translate }}</button>
            <button type="button" class="btn btn-default"
              data-dismiss="modal">{{ 'CONFIRM_CANCEL' | translate }}</button>
          </div>
        </div>

      </div>
    </div>

    <div id="confirmModallater" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="text-align:center"><b>{{ 'ADDTRIPFILELATER_CONFIRM_TITLE' | translate }} </b>
            </h4>
          </div>
          <div class="modal-body">
            <p>{{ 'ADDTRIPFILELATER_CONFIRM_SUBTITLE' | translate }} </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary"
              (click)="uploadFile()">{{ 'CONFIRM_CONFIRM' | translate }}</button>
            <button type="button" class="btn btn-default"
              data-dismiss="modal">{{ 'CONFIRM_CANCEL' | translate }}</button>
          </div>
        </div>

      </div>
    </div>

    <div id="successModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="text-align:center"><b>File uploaded </b></h4>
          </div>
          <div class="modal-body">
            <p>Insertion des données en cours</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'CLOSE_BUTTON' | translate }}</button>
          </div>
        </div>

      </div>
    </div>

    <div id="successModalLater" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="text-align:center"><b>{{ 'ADDTRIPFILELATER_OK_TITLE' | translate }} </b></h4>
          </div>
          <div class="modal-body">
            <p>{{ 'ADDTRIPFILELATER_OK_SUBTITLE' | translate }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'CLOSE_BUTTON' | translate }}</button>
          </div>
        </div>
      </div>
    </div>

    <div id="FileNotCompatibleModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="text-align:center"><b>{{ 'FILECOMPATIBLE_ERROR_TITLE' | translate }}</b></h4>
          </div>
          <div class="modal-body">
            <p>{{ 'FILECOMPATIBLE_ERROR_SUBTITLE' | translate }} {{line_number}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'CLOSE_BUTTON' | translate }}</button>
          </div>
        </div>

      </div>
    </div>

    <div id="DriverNotExistModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="text-align:center"><b>{{ 'DRIVERNOTEXIST_ERROR_TITLE' | translate }}</b></h4>
          </div>
          <div class="modal-body">
            <p>{{ 'DRIVERNOTEXIST_ERROR_SUBTITLE' | translate }} {{line_number}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'CLOSE_BUTTON' | translate }}</button>
          </div>
        </div>

      </div>
    </div>

    <div id="uploadTimeModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="text-align:center"><b>{{ 'EXCEDEED_TIME_TITLE' | translate }} </b></h4>
          </div>
          <div class="modal-body">
            <p>{{ 'EXCEDEED_TIME_SUBTITLE' | translate }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'CLOSE_BUTTON' | translate }}</button>
          </div>
        </div>

      </div>
    </div>

    <div id="BigSizeFileErrorModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="text-align:center"><b>{{ 'FILESIZE_ERROR_TITLE' | translate }}</b></h4>
          </div>
          <div class="modal-body">
            <p>{{ 'FILESIZE_ERROR_SUBTITLE' | translate }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'CLOSE_BUTTON' | translate }}</button>
          </div>
        </div>

      </div>
    </div>

    <div id="fileExistModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="text-align:center"><b>{{ 'FILE_EXIST_TITLE' | translate }}
                {{pickupDateBis}}</b></h4>
          </div>
          <div class="modal-body">
            <p>{{ 'FILE_EXIST_SUBTITLE' | translate }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger"
              (click)="doUploadMeterData()">{{ 'REPLACE_BUTTON' | translate }}</button>
            <button type="button" class="btn btn-success"
              (click)="doUploadMeterData()">{{ 'ADD_BUTTON' | translate }}</button>
          </div>
        </div>

      </div>
    </div>

    <div id="failedModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="text-align:center"><b>{{ 'ERROR_TITLE' | translate }}</b></h4>
          </div>
          <div class="modal-body">
            <p>{{ 'ERROR_SUBTITLE' | translate }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'CLOSE_BUTTON' | translate }}</button>
          </div>
        </div>

      </div>
    </div>



  </div>
</div>