#center {
  text-align: center;
  display: block;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.container {
  min-width: 310px;
  max-width: 500px;
  height: 400px;
  margin: 0 auto
}

.babs {
  width: 100%;
}