<h2 style="text-align: center;">{{'DATA FROM EXTERNAL SOURCES' | translate}}</h2>
<br>
<div class="card text-center"
  style="background-color: rgb(225, 234, 234); width: 70%; margin-left: 13%; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);"
  *ngIf="showForm">
  <mat-card-header class="mat-primary d-flex justify-content-center align-items-center">
    <mat-card-title>{{ 'ADD_EXTERNAL_FORM_TITLE' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="d-flex justify-content-center align-items-center">

    <form [formGroup]="meterDataForm" (ngSubmit)="onSubmit()">

      <mat-form-field class="form-group" style="width: 90%">
        <mat-label>{{ 'CLIENT ID' | translate }}</mat-label>

        <input matInput [formControl]="idClient" placeholder="{{ 'SEARCH_CLIENT' | translate }}"
          [matAutocomplete]="autoClient" required />

        <mat-autocomplete #autoClient="matAutocomplete">
          <mat-option *ngFor="let client of filteredClients" [value]="client">{{ client }}</mat-option>
        </mat-autocomplete>

      </mat-form-field>
      <!-- Afficher le message d'erreur -->
      <div *ngIf="!selectedClientExists" style="color: red">{{ 'INVALID_CLIENT' | translate}}</div>

      <br>
      <mat-form-field class="form-group" style="width: 90%">
        <mat-label>{{ 'SITE ID' | translate }}</mat-label>

        <input matInput [formControl]="idSite" placeholder="{{ 'SEARCH_SITE' | translate }}"
          [matAutocomplete]="autoSite" required />

        <mat-autocomplete #autoSite="matAutocomplete">
          <mat-option *ngFor="let site of filteredSites" [value]="site">{{ site }}</mat-option>
        </mat-autocomplete>

      </mat-form-field>
      <div *ngIf="!selectedSiteExists" style="color: red">{{ 'INVALID_SITE' | translate}}</div>

      <br>

      <mat-form-field class="form-group" style="width: 90%">
        <mat-label>{{ 'METERING POINT ID' | translate }}</mat-label>

        <input matInput [formControl]="idPointComptage" placeholder="{{ 'SEARCH_POINT' | translate }}"
          [matAutocomplete]="autoPoint" required />

        <mat-autocomplete #autoPoint="matAutocomplete">
          <mat-option *ngFor="let point of filteredPoints" [value]="point">{{ point }}</mat-option>
        </mat-autocomplete>

      </mat-form-field>
      <div *ngIf="!selectedSiteExists" style="color: red">{{ 'INVALID_POINT' | translate}}</div>

      <br>
      <div class="form-group" style="margin-left: 35%;">
        <div class="d-flex justify-content-center">
          <input type="file" class="form-control-file custom-file-input" id="fileInput"
            (change)="onFileSelected($event)" accept=".xlsx" style="width: 300px;">
        </div>
      </div>
      <br>
      <div class="d-flex justify-content-center">
        <button mat-raised-button color="primary" type="submit" [disabled]="!isFormValid()">{{
          'SUBMIT' | translate }}</button>
      </div>
    </form>
  </mat-card-content>
</div>


<!--Tableau des données-->
<table id="displayTable" class="table" *ngIf="!showForm && meterData && meterData.length > 0">
  <thead>
    <tr>
      <th *ngFor="let header of meterData[0]; let i = index" [ngClass]="{'invalid-header': !isHeaderValid(i)}"
        (click)="onHeaderClick($event)">
        {{ header }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of meterData.slice(1); let i = index">
      <td *ngFor="let cell of row; let j = index" [ngClass]="{
        'invalid-cell': !isCellValid(i, j),
        'null-cell': cell === null || cell === undefined || cell === ''
      }" (click)="onCellClick($event)">
        {{ cell === null || cell === undefined || cell === '' ? '' : cell }}
      </td>
    </tr>
  </tbody>
  <br>
  <div>
    <button type="button" class="btn btn-primary" (click)="onCancel()">{{'REGISTRATION_CONFIRM_CANCEL' |
      translate}}</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-primary" [disabled]="!isSaveEnabled" data-toggle="modal"
      data-target="#confirmModalnow">{{'SAVE' | translate}}</button>
  </div>

</table>



<div id="confirmModalnow" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" style="text-align:center"><b> </b></h4>
      </div>
      <div class="modal-body">
        <p>{{'Do you really want to execute task 5' | translate}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onSave()">{{ 'CONFIRM_CONFIRM' | translate }}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'CONFIRM_CANCEL' | translate }}</button>
      </div>
    </div>

  </div>
</div>

<div id="successModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" style="text-align:center"><b>{{'SUCCESS_FILE_UPLOAD' | translate}}</b></h4>
      </div>
      <div class="modal-body">
        <p>{{'SUCCESS_DATA_SAVE' | translate}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onModalCancel()">{{ 'CLOSE_BUTTON' |
          translate }}</button>
      </div>
    </div>

  </div>
</div>

<div id="BigSizeFileErrorModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" style="text-align:center"><b>{{ 'FILESIZE_ERROR_TITLE' | translate }}</b></h4>
      </div>
      <div class="modal-body">
        <p>{{ 'FILESIZE_ERROR_SUBTITLE' | translate }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'CLOSE_BUTTON' | translate }}</button>
      </div>
    </div>
  </div>

  <div id="failedModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="text-align:center"><b>{{ 'ERROR_TITLE' | translate }}</b></h4>
        </div>
        <div class="modal-body">
          <p>{{ 'ERROR_SUBTITLE' | translate }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'CLOSE_BUTTON' | translate }}</button>
        </div>
      </div>

    </div>
  </div>
</div>